<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body class="table-responsive">
		<table class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr scope="row">
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Full Name</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr scope="row">
						<td>{{user.first_name}}</td>
						<td>{{user.last_name}}</td>
						<td>{{user.first_name}} {{user.last_name}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>