<html>
    <head>
    	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='wall.js') }}"></script>
    </head>
    <form action="/register" method="post" id="regForm">
        <div id="usernameMsg"></div>   <!-- notice the empty div reserved for our message -->
        <label>Check for username availability:</label>
        <input id="username" type="text" name="username">
    </form>

    <form method="GET" action="/usersearch" id="searchForm">  <!-- using GET will place the form inputs in the url as query strings-->
    	<label>Search for users:</label>
     	<input id="usersearch" type="text" name="name">
	</form>
	<div id="search-helper"></div>
</html>